*{
    box-sizing: border-box;
    margin:0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    font-family: 'Volkhov', serif;
}
body{
    width: 455px;
    margin: auto;
}
canvas{
    
    box-shadow: grey 10px 10px 10px ;
    background-color: rgb(0, 0, 0);
}
 .start {
    background-image: url("../images/startImg.png");
  }
 .startButton {
    background-image: url("../images/play-button.png");
    margin: 50%;
    margin-top: 306px;
    margin-left:145px;
    height: 78px;
    width: 156px;
  }
  .hide {
    display: none;
  }
*::after{
    content:"";
    display: table;
    clear: both;
}
.container{
    position: relative;
    min-height: 600px;
    max-width: 455px;
}
.top{
    
    width: 443px;
    position: absolute;
    top: 0;
    height: 55px;
    background-image: url("../images/bodyBackgroundTop.png");

}
.middle{
    width: 100%;
    position: absolute;
    top:55px;
}